*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: goldenrod;
}
nav{
    height: 75px;
}
nav .lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
li{
    font-size: 25px;
    color: white;
}
li:hover{
    color: black;
}
.basket{
    background-color: rgb(141, 141, 237);
    padding: 5px;
    border: none;
    border-radius: 8px;
}
.text{
    text-decoration: none;
    color: black;
}
.fav{
    background-color: rgb(236, 116, 79);
    padding: 5px;
    border: none;
    border-radius: 8px;
}
.wish{
    text-decoration: none;
    color: black;
}