.cards{
  border: 1px solid black;
  width: 300px;
}

.photo{
  width: 100%;
}

.text{
  text-align: center;
}

.desc{
  text-align: center;
  color: brown;
  font-weight: bold;
  font-size: 18px;
}

.container .list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.container .list li a{
  text-decoration: none !important;
  list-style: none;
  outline: none;
  color: black;
}